@font-face {
  font-family: 'Proto Mono';
  src: url('../fonts/proto/ProtoMono-Regular.eot');
  src: local('Proto Mono Regular'), local('ProtoMono-Regular'),
    url('../fonts/proto/ProtoMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/proto/ProtoMono-Regular.woff2') format('woff2'),
    url('../fonts/proto/ProtoMono-Regular.woff') format('woff'),
    url('../fonts/proto/ProtoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
